/*   custom.css is only for:
  - UI elements (buttons, headers, scrollbars, etc.)
  - General editor font settings (family, size, weight)
  - Background colors, borders, margins
  For syntax highlighting, the colors come from the GtkSourceView style scheme (jollpi.xml)
*/
@define-color red-normal rgba(237, 51, 59, 0.246667);
@define-color abu-kuat #4D4D4D;
@define-color abu-sedang #666666;
@define-color abu-lembut #999999;
@define-color abu-gelap #48474B;
@define-color gelap-sedang #070707;

#window {{
    background-color: @abu-gelap;
    box-shadow: 0 20px 48px -12px alpha(black, 0.3);
}}

button.btn {{
    padding-top: 10px;
    padding-bottom: 10px;
}}

button {{
    border: None;
}}

headerbar {{
    background-image: linear-gradient(to bottom, @abu-sedang, @abu-kuat);
    border: None;
    box-shadow: None;
}}

popover > arrow, contents {{
    background-image: linear-gradient(to right, @abu-lembut, @abu-kuat);
}}

notebook {{
    border: None;
}}

notebook tabs {{
    padding: 1px;
    background-image: linear-gradient(to bottom, @abu-kuat, @abu-sedang);
}}

notebook tab {{
    margin-left: 1px;
    margin-right: 1px;
}}

notebook tab:checked,
notebook tab:hover {{
    border-radius: 5px 5px 0 0;
    background-image: linear-gradient(to bottom, @abu-lembut, @abu-sedang);
    box-shadow: None;
    border-bottom-width: 0;
}}

textview {{
    font-family: {family};
    font-size: {size}pt;
    font-weight: {weight};
}}

#map {{
    padding-right: 8px;
    padding-left: 8px;
    font-family: Monospace;
    font-size: 2pt;
    line-height: 5px;
    border-left: 0.5px solid @abu-sedang;
}}

#map slider {{
    background: transparent;
}}

#scroll_editor scrollbar.vertical {{
    min-width: 12px;
}}

.title {{
    font-weight: bold;
}}

.info-label {{
    background-color: @abu-gelap;
    color: white;
    padding: 4px 8px;
    border-radius: 4px;
    margin: 8px;
}}

.find-bar-wrapper {{
    background-image: linear-gradient(to bottom, @abu-sedang, @abu-kuat);
    padding: 4px;
}}

.option-btn {{
    min-width: 36px;
    padding: 0;
}}

.search-entry.search-error {{
    background-color: @red-normal;
}}

.search-entry {{
    min-width: 250px;
    background-color:@abu-sedang;
}}

.result-label {{
    color: @abu-lembut;
    background-color: @abu-sedang;
    padding: 2px 8px;
    border-radius: 4px;
}}

.result-label.search-error {{
    background-color: @red-normal;
    opacity: 0;
}}

.moving-gradient {{
    background-image: linear-gradient(
        270deg, @abu-sedang, @abu-lembut, @gelap-sedang
    );
    background-size: 800% 800%;
    animation: gradient-move 8s ease infinite;
    border-radius: 5px;
}}

@keyframes gradient-move {{
    0% {{ background-position: 0% 50%; }}
    50% {{ background-position: 100% 50%; }}
    100% {{ background-position: 0% 50%; }}
}}

switch {{
    border: none;
}}

switch slider {{
    border: none;
    margin: 1px;
}}
